:root {
    --sd-color-primary: #f37726;
    --sd-color-primary-highlight: #da864e;
    --sd-color-secondary: #267bf3;
    --sd-color-secondary-highlight: #4e88da;
}

.bg-jb-one {
    background-color: #52d16f3b;
}

.bg-jb-two {
    background-color: #e7dd7b73;
}

.bg-jb-three {
    background-color: #e7b07b96;
}

.admonition>.admonition-title, div.admonition>.admonition-title {
    background-color: #eef9fd;
}

.admonition, div.admonition {
    background-color: white;
    border-color: #4cb3d4;
}

.admonition p {
    color: #474747;
}

.text_html p {
    color: #474747;
}

.bg-primary {
    /* background-color: #2B6CE3 !important; */
    background-color: #ffc202 !important;
}

/* CircularStd @font-face kit */
@font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-Black.eot");
    src: url("../vendor/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-Black.woff") format("woff"), url("../vendor/fonts/CircularStd-Black.ttf") format("truetype"), url("../vendor/fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-BlackItalic.eot");
    src: url("../vendor/fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-BlackItalic.woff") format("woff"), url("../vendor/fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("../vendor/fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-Bold.eot");
    src: url("../vendor/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-Bold.woff") format("woff"), url("../vendor/fonts/CircularStd-Bold.ttf") format("truetype"), url("../vendor/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-BoldItalic.eot");
    src: url("../vendor/fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-BoldItalic.woff") format("woff"), url("../vendor/fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("../vendor/fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-Medium.eot");
    src: url("../vendor/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-Medium.woff") format("woff"), url("../vendor/fonts/CircularStd-Medium.ttf") format("truetype"), url("../vendor/fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-MediumItalic.eot");
    src: url("../vendor/fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-MediumItalic.woff") format("woff"), url("../vendor/fonts/CircularStd-MediumItalic.ttf") format("truetype"), url("../vendor/fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-Book.eot");
    src: url("../vendor/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-Book.woff") format("woff"), url("../vendor/fonts/CircularStd-Book.ttf") format("truetype"), url("../vendor/fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("../vendor/fonts/CircularStd-BookItalic.eot");
    src: url("../vendor/fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/CircularStd-BookItalic.woff") format("woff"), url("../vendor/fonts/CircularStd-BookItalic.ttf") format("truetype"), url("../vendor/fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 400;
    font-style: italic;
  }