# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Trace
author: Ching-An Cheng, Allen Nie, Adith Swaminathan
copyright: "2024 Trace Team"
# logo: logo.png
only_build_toc_files: true

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: off

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/microsoft/Trace  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: website  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: false
  use_repository_button: true
  extra_footer: "<a href='mailto:chinganc@microsoft.com'>Contact Us</a> | <a href='http://go.microsoft.com/fwlink/?LinkId=521839'>Privacy &amp; Cookies</a> | <a href='https://go.microsoft.com/fwlink/?linkid=2259814'>Consumer Health Privacy</a> | <a href='https://go.microsoft.com/fwlink/?LinkID=206977'>Terms Of Use</a> | <a href='https://www.microsoft.com/trademarks'>Trademarks</a>"

sphinx:
  html_context:
    default_mode: light
  extra_extensions:
  - autodoc2
  config:
    nb_merge_streams: true
    autodoc2_index_template: null
    autodoc2_output_dir: api
    autodoc2_module_all_regexes:
      - "opto.*(trace|optimizers)"
    autodoc2_packages:
      - path: "../opto"
    autodoc2_hidden_objects:
      - inherited
      - private
      - dunder
    autodoc2_skip_module_regexes:
      - .*test.*